/*Folha de estilo do site*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #407094;
	color: #fff;
}

.texto{
	color: #fff;
	font-family: "Arial", sans-serif;
}

label{
	color: #fff;
	font-family: "Open Sans", sans-serif;
}

.content{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.imagem{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 80px;
}

.imagem img{
	border-radius: 30px;
}

.texto{
	text-align: center;
}

.texto h2{
	margin-bottom: 50px;
}

.texto p{
	width: 60%;
}