/*Folha de estilo do site*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #407094;
	color: #fff;

}

.texto{
	color: #fff;
	font-family: "Arial", sans-serif;
}

label{
	color: #fff;
	font-family: "Open Sans", sans-serif;
}

.content{
	display: flex;
	justify-content: center;
	align-items: center;
}

.imagem{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}

.imagem img{
	border-radius: 30px;
}

.texto{
	text-align: center;
}

.texto h2{
	margin-bottom: 30px;
	margin-top: -280px;
}

.hr{
	margin-bottom: 10px;
	margin-top: -20px;
	color: #a3d1eb;
}

.div2{
	background-color: #2a4e69;
	padding: 30px;
	margin: 40px;
	border-radius: 30px;
	width: 32%;
	font-size: .98em;
}

.div2 .input_design{
	width: 100%;
	margin-top: 12px;
	margin-bottom: 12px;
	border-radius: 5px;
	border: none;
	padding: 7px;
}

.div2 h1, .div2 p{
	margin-bottom: 12px;
	margin-top: 12px;
}

.div2 #button{
	background-color: #e6943c;
	color: #fff;
	font-size: 1.1em;
	font-weight: bold;
	padding: 13px 0px;
	cursor: pointer;
}

.div2 #button:hover{
	background-color: #ffa500;
	color: #fff;
	font-size: 1.25em;
	padding: 12px 0px;
	transition: 0.9s;
}

.new{
	padding: 4px;
	font-size: .7em;
	margin-left: 10px;
	background-color: #228b22;
	color: #fff;
	border: none;
	border-radius: 4px;
}

span{
	font-size: 1em;
}


.input_design{
	padding: 5px;
}
